#Form{

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    border: 2px solid rgb(161, 161, 161);
    padding: 20px;
    border-radius: 10px;
    
}
.Profile-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    border: 2px solid rgb(161, 161, 161);
    padding: 20px;
    border-radius: 10px;
}

@media (max-width:480px){
    #Form{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .Profile-container{
        width: 90%;
        
    }
}