#Form{

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    border: 2px solid rgb(161, 161, 161);
    padding: 20px;
    border-radius: 10px;
    
}
.Profile-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    border: 2px solid rgb(161, 161, 161);
    padding: 20px;
    border-radius: 10px;
}